#!/usr/bin/env bash
export DATE=`date +%F` 
export  PGPASSWORD="redmine"

mkdir -p /data/redmine/backup/

pg_dump --format=p --blobs --host=localhost --username "redmine" "{{ instance.name }}" | gzip > "/data/redmine/backup/${DATE}_{{ instance.name }}_db.sql.gz"
tar --gzip --create --directory="/data/redmine/var/{{ instance.name }}" --file="/data/redmine/backup/${DATE}_{{ instance.name }}_files.tar.gz" files

