#!/usr/bin/env bash
export DATE="LATEST"
#export DATE=`date +%F`

# pg_hba and pg_ident might interfere here.

echo 'Start Restore of Redmine Instances'

{% for instance in redmine_instance %}
echo 'Restore Redmine Instance "{{ instance.name }}'
sudo -u postgres dropdb --if-exists -U postgres redmine_{{ instance.db_name }}
sudo -u postgres createdb -O redmine -U postgres -E UTF-8 redmine_{{ instance.db_name }}
sudo rm -rf /data/redmine/{{ instance.name }}

sleep 20s

sudo tar --gzip --extract --directory=/data/redmine --file=/data/redmine/backup/${DATE}_redmine_{{ instance.name }}_files.tar.gz
gunzip -c /data/redmine/backup/${DATE}_redmine_{{ instance.name }}_db.sql.gz | sudo -u postgres psql redmine_{{ instance.db_name }}

sudo chown -R redmine:redmine /data/redmine/
echo 'Restore of Redmine Instance "{{ instance.name }}" Completed'
{% endfor %}

echo 'Restore of all Instances completed'
