[submodule "lmu.ansible_role.sentry"]
	path = roles/lmu.ansible_role.sentry
	url = https://github.com/lmu/lmu.ansible_role.sentry.git

# Ansible Base Roles (Install a basic Service without final configuration)
[submodule "lmu.ansible_base_role.supervisor"]
	path = roles/lmu.ansible_base_role.supervisor
	url = https://github.com/lmu/lmu.ansible_base_role.supervisor.git

# [submodule "lmu.ansible_base_role.logwatch"]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role.logwatch.git
#
# [submodule "lmu.ansible_base_role.apparmor"]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role.apparmor.git
#
# [submodule "lmu.ansible_base_role.selinux"]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role.selinux.git
#
# [submodule "lmu.ansible_base_role.apache2_httpd"]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
#
# [submodule "lmu.ansible_base_role.nginx"]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
#
# [submodule "lmu.ansible_base_role.postgresql-server"]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
#
# [submodule "lmu.ansible_base_role.postgresql-client"]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
#
# [submodule "lmu.ansible_base_role.mysql-server"]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
#
# [submodule "lmu.ansible_base_role.mysql-client"]
# 	path = roles/lmu.ansible_base_role.mysql-client
# 	url = https://github.com/lmu/lmu.ansible_base_role.mysql-client.git
#
# [submodule "lmu.ansible_base_role.varnish"]
# 	path = roles/lmu.ansible_base_role.varnish
# 	url = https://github.com/lmu/lmu.ansible_base_role.varnish.git
#
# [submodule "lmu.ansible_base_role.squid"]
# 	path = roles/lmu.ansible_base_role.squid
# 	url = https://github.com/lmu/lmu.ansible_base_role.squid.git
#
# [submodule "lmu.ansible_base_role.motd"]
# 	path = roles/lmu.ansible_base_role.motd
# 	url = https://github.com/lmu/lmu.ansible_base_role.motd.git
#
# [submodule "lmu.ansible_base_role.postfix"]
# 	path = roles/lmu.ansible_base_role.postfix
# 	url = https://github.com/lmu/lmu.ansible_base_role.postfix.git
#
# [submodule "lmu.ansible_base_role."]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
#
# [submodule "lmu.ansible_base_role."]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
#
# [submodule "lmu.ansible_base_role."]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
#
# [submodule "lmu.ansible_base_role."]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
#
# [submodule "lmu.ansible_base_role."]
# 	path = roles/
# 	url = https://github.com/lmu/lmu.ansible_base_role..git
