supervisor:
  username: admin
  password: admin
sentry_db:
  name: sentry
  user: sentry
  password: sentry
sentry_superuser:
  username: admin
  password: admin
sentry_key:
  secret_key: 'my69eAMYjzqtmfaRJ107MeXCYDTaxQdNZPr8YOf/zOV5pIUoZa5biA=='
postgres:
  master-user: posgres
  master-password: postgres
redmine_db:
  user: redmine
  passwd: redmine
piwik_db:
  user: piwik
  passwd: piwik
