[program:puma-{{ instance.name }}]
command=bundle exec puma --config config/puma.rb
numprocs=1
directory={{ redmine.app_base_path}}/{{ instance.name }}
environment=PATH="{{ redmine.app_base_path}}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0/bin:{{ ansible_env.PATH }}",RAILS_ENV="production"
user=redmine
