
    Alias /{{ instance.name }} {{ redmine.app_base_path }}/{{ instance.name }}/public
    <Location "/{{ instance.name }}" >
        PassengerBaseURI /{{ instance.name }}
        PassengerRuby {{ redmine.app_base_path }}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0/bin/ruby
        PassengerAppRoot {{ redmine.app_base_path }}/{{ instance.name }}
        PassengerUser redmine
        PassengerGroup redmine
        SetEnv GEM_HOME  {{ redmine.app_base_path }}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0
        SetEnv GEM_PATH  {{ redmine.app_base_path }}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0/gems
        SetEnv LD_LIBRARY_PATH "/opt/rh/rh-ruby23/root/usr/local/lib64:/opt/rh/rh-ruby23/root/usr/lib64:{{ lookup('env', 'LD_LIBRARY_PATH') }}"
        SetEnv XDG_DATA_DIRS "/opt/rh/rh-ruby23/root/usr/local/share:/opt/rh/rh-ruby23/root/usr/share:{{ lookup('env', 'XDG_DATA_DIRS') }}"
        SetEnv PKG_CONFIG_PATH "/opt/rh/rh-ruby23/root/usr/local/lib64/pkgconfig:/opt/rh/rh-ruby23/root/usr/lib64/pkgconfig:{{ lookup('env', 'PKG_CONFIG_PATH') }}"
    </Location>
    <Directory "{{ redmine.app_base_path }}/{{ instance.name }}/public" >
        Order allow,deny
        Allow from all
        Options -MultiViews +FollowSymLinks
        # This relaxes Apache security settings.
        AllowOverride all
        # Uncomment this if you're on Apache >= 2.4:
        Require all granted
    </Directory>
{% for alias in instance.alias %}

    Alias /{{ alias }} {{ redmine.app_base_path }}/{{ instance.name }}/public
    <Location "/{{ alias }}" >
        PassengerBaseURI /{{ alias }}
        PassengerRuby {{ redmine.app_base_path }}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0/bin/ruby
        PassengerAppRoot {{ redmine.app_base_path }}/{{ instance.name }}
        PassengerUser redmine
        PassengerGroup redmine
        SetEnv GEM_HOME  {{ redmine.app_base_path }}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0
        SetEnv GEM_PATH  {{ redmine.app_base_path }}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0/gems
        SetEnv LD_LIBRARY_PATH "/opt/rh/rh-ruby23/root/usr/local/lib64:/opt/rh/rh-ruby23/root/usr/lib64:{{ lookup('env', 'LD_LIBRARY_PATH') }}"
        SetEnv XDG_DATA_DIRS "/opt/rh/rh-ruby23/root/usr/local/share:/opt/rh/rh-ruby23/root/usr/share:{{ lookup('env', 'XDG_DATA_DIRS') }}"
        SetEnv PKG_CONFIG_PATH "/opt/rh/rh-ruby23/root/usr/local/lib64/pkgconfig:/opt/rh/rh-ruby23/root/usr/lib64/pkgconfig:{{ lookup('env', 'PKG_CONFIG_PATH') }}"
    </Location>
{% endfor %}
