
    Alias /{{ instance.name }} {{ redmine.app_base_path }}/{{ instance.name }}/public
    <Location "/{{ instance.name }}" >
        PassengerBaseURI /{{ instance.name }}
        PassengerRuby {{ redmine.app_base_path }}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0/bin/ruby
        PassengerAppRoot {{ redmine.app_base_path }}/{{ instance.name }}
        SetEnv GEM_HOME  {{ redmine.app_base_path }}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0
        SetEnv GEM_PATH  {{ redmine.app_base_path }}/{{ instance.name }}/vendor/bundle/ruby/{{ redmine.ruby_semversion }}.0/gems
    </Location>
    <Directory "{{ redmine.app_base_path }}/{{ instance.name }}/public" >
        Order allow,deny
        Allow from all
        Options -MultiViews +FollowSymLinks
        # This relaxes Apache security settings.
        AllowOverride all
        # Uncomment this if you're on Apache >= 2.4:
        Require all granted
    </Directory>
