#!/usr/bin/env bash
export http_proxy="http://ngfw-proxy.verwaltung.uni-muenchen.de:8080"
export HTTP_PROXY="http://ngfw-proxy.verwaltung.uni-muenchen.de:8080"
export ftp_proxy="http://ngfw-proxy.verwaltung.uni-muenchen.de:8080"
export FTP_PROXY="http://ngfw-proxy.verwaltung.uni-muenchen.de:8080"
export https_proxy="https://ngfw-proxy.verwaltung.uni-muenchen.de:8443"
export HTTPS_PROXY="https://ngfw-proxy.verwaltung.uni-muenchen.de:8443"
# export http_proxy="http://webscan-lb.verwaltung.uni-muenchen.de:8080"
# export HTTP_PROXY="http://webscan-lb.verwaltung.uni-muenchen.de:8080"
# export ftp_proxy="http://webscan-lb.verwaltung.uni-muenchen.de:8080"
# export FTP_PROXY="http://webscan-lb.verwaltung.uni-muenchen.de:8080"
# export https_proxy="https://webscan-lb.verwaltung.uni-muenchen.de:8443"
# export HTTPS_PROXY="https://webscan-lb.verwaltung.uni-muenchen.de:8443"
export no_proxy="localhost, 127.0.0.1, yup.verwaltung.uni-muenchen.de, apt.verwaltung.uni-muenchen.de{% for fqdn in proxy.no_proxy %}, {{ fqdn }}{% endfor %}"
export NO_PROXY="localhost, 127.0.0.1, yup.verwaltung.uni-muenchen.de, apt.verwaltung.uni-muenchen.de{% for fqdn in proxy.no_proxy %}, {{ fqdn }}{% endfor %}"
