#!/var/sentry/ve/bin/python

from sentry.utils.runner import configure
configure()

from django.db import DEFAULT_DB_ALIAS as database
from sentry.models import User

dbm = User.objects.db_manager(database)
all_users = dbm.all()
if '{{ sentry_superuser.username }}' not in (a.username for a in all_users):

    dbm.create_superuser('{{ sentry_superuser.username }}',
                         '{{ sentry.superuser_email }}',
                         '{{ sentry_superuser.password }}')

text = """Use the account information to log into the Sentry / Django Interface
The account has full 'Admin' privileges-

  Username: {{ sentry_superuser.username }}
  Password: {{ sentry_superuser.password }}

This account is created when Ansible has installed Sentry.
If you change the password later (which you should!), you'll need to use the new password.

This file also prevents Ansible to recreate a superuser on each run, so please don't remove this file.
"""

with open("/var/sentry/adminPassword.txt", "w") as f:
    f.write(text)
    f.flush()
    f.close()
