<html lang="en">
	<head>

		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Management Interface for Infrastructure ({{ ansible_hostname }})</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<style type="text/css">
			.generator-timestamp {
				font-size: 80%;
				line-height: 1em;
				color: rgba(255,255,255,.75);
				text-align: center;
			}
			.container {
				margin-top: 60px;
			}
			.navbar .container {
				margin-top: 0;
			}
			.col-sm-12 {
				margin-bottom: 15px;
			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-fixed-top navbar-full navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="#">{{ ansible_hostname }}</a>
				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="nav-link active" href="#base-tools" >MMI</a></li>
					<li class="nav-item"><a class="nav-link" href="#haproxy" >HAProxy</a></li>
					<li class="nav-item"><a class="nav-link" href="#solr" >Solr</a></li>
					<li class="nav-item"><a class="nav-link" href="#supervisor" >Supervisor</a></li>
				</ul>
				<div class="float-xs-right generator-timestamp" >generated:<br/> {{ ansible_date_time.date }} {{ ansible_date_time.time }}</div> 
			</div>
		</nav>
		<div class="container">
			<div id="base-tools" class="row" >
				<div class="col-sm-12">
				<h1>Management Interface for Infrastructure on {{ ansible_hostname }}</h1>
				<ul class="nav navbar-nav">
					<li class="nav-item"><a href="/cmdb/" class="tag tag-primary" >Ansible-CMDB-Overview</a></li>
					<li class="nav-item"><a href="/psdash/" class="tag tag-primary" >psdash-Overview</a></li>
				</ul>
				</div>
			</div>

			<div class="row">
				<div id="special-tools" class="col-sm-12 col-lg-6">
					<div class="row">
						<div id="haproxy" class="col-sm-12">
							<h2>HAProxy - Loadbalancer</h2>
							<ul>
{% for host in groups['webproxies'] %}	
								<li><a href="/haproxy/{{ hostvars[host]['inventory_hostname_short'] }}/haproxy-status" >HAProxy on {{ host }}</a></li>
{% endfor %}
							</ul>
						</div>
						<div id="solr" class="col-sm-12">
							<h2>Solr - Search-Engines</h2>
							<ul>
{% for host in groups['solrs'] %}	
								<li><a href="/solr/{{ hostvars[host]['inventory_hostname_short'] }}/" >Solr on {{ host }}</a></li>
{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div id="supervisor" class="col-sm-12 col-lg-6">
					<h2>Supervisors</h2>
					<ul>
{% for host in groups['all'] %}		
						<li><a href="/supervisor/{{ hostvars[host]['inventory_hostname_short'] }}/" >Supervisor on {{ host }}</a></li>
{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		
		<script src="/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

	</body>
</html>