<html>
	<head>
	</head>

	<body>
		<h1>Management Interface for Infrastructure</h1>

		<h2>Ansible-CMDB</h2>
		<ul>
			<li><a href="/cmdb/" >CMDB-Overview</a></li>
		</ul>
		<h2>psDash - Overview</h2>
		<ul>
			<li><a href="/psdash/" >psDash Overview</a></li>
		</ul>
		<h2>HAProxy - Loadbalancer on Webproxies</h2>
		<ul>
			<li><a href="/haproxy/webproxy1/haproxy-status" >HAProxy on WebProxy1</a></li>
			<li><a href="/haproxy/webproxy2/haproxy-status" >HAProxy on WebProxy2</a></li>
		</ul>
		<h2>Supervisors</h2>
		<ul>
			<li><a href="/supervisor/ansiblem0/" >Ansible-Master-Node 0</a></li>
			<li><a href="/supervisor/webproxy1/" >WebProxy1</a></li>
			<li><a href="/supervisor/webproxy2/" >WebProxy2</a></li>
		</ul>

	</body>
</html>