<html>
	<head>
	</head>

	<body>
		<h1>Management Interface for Infrastructure</h1>

		<h2>Ansible-CMDB</h2>
		<ul>
			<li><a href="/cmdb/" >CMDB-Overview</a></li>
		</ul>
		<h2>psDash - Overview</h2>
		<ul>
			<li><a href="/psdash/" >psDash Overview</a></li>
		</ul>
		<h2>HAProxy - Loadbalancer on Webproxies</h2>
		<ul>
{% for host in groups['all'] %}	
			<li><a href="/haproxy/{{ host }}/haproxy-status" >HAProxy on {{ host }}</a></li>
{% endfor %}
		</ul>
		<h2>Solr - Search-Engines</h2>
		<ul>
{% for host in groups['all'] %}	
			<li><a href="/solr/{{ host }}/" >Solr on {{ host }}</a></li>
{% endfor %}
		</ul>
		<h2>Supervisors</h2>
		<ul>
{% for host in groups['all'] %}		
			<li><a href="/supervisor/{{ host }}/" >Supervisor on {{ host }}</a></li>
{% endfor %}
		</ul>

	</body>
</html>