<VirtualHost *:80>
    # Kontaktadresse des für den Server zuständigen:
    ServerAdmin Alexander.Loechel@verwaltung.uni-muenchen.de

    # Wenn es statische Inhalte gibt,
    # Hier das Verzeichnis angeben wo dieses liegt,
    # wenn es keine gibt: default: /var/www/html
    DocumentRoot /var/www/html

    # Vollständiger ServerName (FQDN)
    ServerName www.lakof-bayern.de
    # Sonstige Namen des Server, mehrere können konfiguriert werden:
    ServerAlias lakof-bayern.de

    #
    UseCanonicalName on

    # Ort der Log-Files, <kurzname> ist ein kurzer Name für den vhost (z.B. der, der auch im Firewall-Regelsatz für diese IP-Adresse verwendet wird)
    ErrorLog "/var/log/apache2/lakof/error.log"
    # Ort der Access-Logs, das Format kann auch je nach Anforderung variiert werden
    CustomLog /var/log/apache2/lakof/access.log "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" Server: %{Host}i"
    #TransferLog "/var/log/apache2/lakof/transfer.log"

    RewriteEngine on
    RewriteRule ^/(.*)$ https://www.lakof-bayern.de/$1 [redirect=302,last]

</VirtualHost>
