<VirtualHost *:80>

    # Kontaktadresse des für den Server zuständigen:
    ServerAdmin Alexander.Loechel@verwaltung.uni-muenchen.de

    # Wenn es statische Inhalte gibt,
    # Hier das Verzeichnis angeben wo dieses liegt,
    # wenn es keine gibt: default: /var/www/html
    DocumentRoot /var/www/html

    # Vollständiger ServerName (FQDN)
    #ServerName www.intranet.verwaltung.uni-muenchen.de
    ServerName zuv-intranet.webproxy1.verwaltung.uni-muenchen.de
    # Sonsitige Namen des Server, mehrere können konfiguriert werden:
    # ServerAlias

    # 
    UseCanonicalName on

    # Ort der Log-Files, <kurzname> ist ein kurzer Name für den vhost (z.B. der, der auch im Firewall-Regelsatz für diese IP-Adresse verwendet wird)
    ErrorLog "/var/log/apache/zuv_intranet/error_log"
    # Ort der Access-Logs, das Format kann auch je nach Anforderung variiert werden
    CustomLog "/var/log/apache/zuv_intranet/access_log"
    TransferLog "/var/log/apache/zuv_intranet/transfer.log"
    RewriteLog "/var/log/apache2/zuv_intranet/rewrite.log"

    # Welches Log-Detaillevel wollen wir
    LogLevel info

    # Setzt / Verändert Core Parameter des Apache httpd, wieviele Request Header Informationen er zulässt.
    # Hohe Anzal ist wichtig wegen Shibboleth Headern
    LimitRequestBody 0
    LimitRequestFields 250
    LimitRequestFieldSize 65536
    LimitRequestLine 65536

    # Das sind ein paar abgeschriebene Sachen, wird schon passen
    <Files ~ "\.(cgi|shtml|phtml|php3?)$">
        SSLOptions +StdEnvVars
    </Files>
    <Directory "/var/www/cgi-bin">
        SSLOptions +StdEnvVars
    </Directory>

    # Proxy-Regeln für Backend
    ProxyVia On
    ProxyRequests Off
    ProxyPreserveHost On

    # prevent your web server from being used as global HTTP proxy
    <LocationMatch "^[^/]">
        Deny from all
    </LocationMatch>

    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

    Header set X-Frame-Options "SAMEORIGIN"
    Header set Strict-Transport-Security "max-age=15768000; includeSubDomains"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    # Header set Content-Security-Policy-Report-Only "default-src 'self'; img-src *; style-src 'unsafe-inline'; script-src 'unsafe-inline' 'unsafe-eval'"
    Header set Content-Security-Policy "default-src 'self' cms-static.uni-muenchen.de iukintest.verwaltung.uni-muenchen.de iuksptest.verwaltung.uni-muenchen.de; \
script-src 'self' 'unsafe-inline' 'unsafe-eval' cms-static.uni-muenchen.de iukintest.verwaltung.uni-muenchen.de iuksptest.verwaltung.uni-muenchen.de; \
style-src 'self' 'unsafe-inline' cms-static.uni-muenchen.de *.verwaltung.uni-muenchen.de; \
img-src 'self' 'unsafe-inline' cms-static.uni-muenchen.de www.uni-muenchen.de *.verwaltung.uni-muenchen.de; \
font-src 'self' 'unsafe-inline' cms-static.uni-muenchen.de *.verwaltung.uni-muenchen.de; \
object-src 'self' cms-static.uni-muenchen.de *.verwaltung.uni-muenchen.de;"
    RequestHeader set X-Forwarded-For "www.intranet.verwaltung.uni-muenchen.de:443"

    RequestHeader set X-Use-ESI true

    <LocationMatch "\.(ttf|otf|eot|woff|js|css|xml|json|include|jpeg|png|gif|jpg|svg)$">
        Header set Access-Control-Allow-Origin "*"
    </LocationMatch>

    RewriteEngine on
    RewriteLogLevel info

    # RewriteRule ^/functions/extras.css$  https://www.intranet.verwaltung.uni-muenchen.de/++resource++lmu.theme.intranet.css/extras.css [R=301,L]
    # RewriteRule ^/functions/extras.js$  https://www.intranet.verwaltung.uni-muenchen.de/++resource++lmu.theme.intranet.js/extras.js [R=301,L]

    # Blacklist Fiona Pfade so das Plone auf Root Path / lauscht
    RewriteRule ^/index.html - [L,NC]

    include fiona_intranet_blacklist.include
    include plone_blacklist_rewrite.include
    include blacklist_proxy.include

    # Rewrite everything that is not Blacklisted in fiona_intranet_blcklist.include or plone_blacklist_rewrite.include to Plone
    <LocationMatch "!((^/manage(.*))|((.*)manage$)|((.*)manage_main$))">
    RewriteRule ^/(.*)$ http://127.0.0.1:6081/VirtualHostBase/https/www.intranet.verwaltung.uni-muenchen.de:443/intranet/VirtualHostRoot/$1 [P,L,E=X-Backend-For:Plone]
        Header set X-Backend-For Plone
        RequestHeader set X-Backend-For Plone
    </LocationMatch>

    # Rewrite everything else to Fiona except blacklist_proxy.inlcude 
    <LocationMatch "^/(index.html|_assets/(.*)|wissen/(.*))"
        ProxyPass / http://127.0.0.1:6081/
        ProxyPassReverse / http://127.0.0.1:6081/
        Header set X-Backend-For Fiona
        RequestHeader set X-Backend-For Fiona
    </ĹocationMatch>

#################################################### Änderungen mit ANdrej

    RewriteRule /index.html - [L,NC]

    # Rewrite everything that is not Blacklisted in fiona_intranet_blcklist.include or plone_blacklist_rewrite.include to Plone
#    <Location />
        RewriteRule ^/(.*)$ http://cms-live-app2:8080/VirtualHostBase/https/www.intranet.verwaltung.uni-muenchen.de:443/intranet/VirtualHostRoot/$1 [P,L]
        #ProxyPass http://cms-live-app2:8080/VirtualHostBase/https/www.intranet.verwaltung.uni-muenchen.de:443/intranet/VirtualHostRoot/
        #ProxyPassReverse http://cms-live-app2:8080/VirtualHostBase/https/www.intranet.verwaltung.uni-muenchen.de:443/intranet/VirtualHostRoot/
        Header set X-Backend-For Plone
        RequestHeader set X-Backend-For Plone
#    </Location>

    <LocationMatch "^/(manage|manage_main|(.*)/manage(.*))" >
        Deny from all
    </LocationMatch>


    # Rewrite everything else to Fiona except blacklist_proxy.inlcude 
    <LocationMatch "^/(index.html|_assets/(.*)|wissen/(.*))">
        ProxyPass http://cms-live-pm1:8080
        ProxyPassReverse http://cms-live-pm1:8080
#        RewriteRule ^/(.*)$ http://cms-live-pm1:8080$1 [P]
        Header set X-Backend-For Fiona
        RequestHeader set X-Backend-For Fiona
    </LocationMatch>



</VirtualHost>
