xcache.shm_scheme = "mmap"
xcache.size  = 64M
xcache.count = 1 # Anzahl CPU-Kerne
xcache.slots = 16K # Abhängig vom Arbeitsspeicher
xcache.var_size  = 128M
xcache.test = Off
xcache.optimizer = On
xcache.cacher = On
xcache.stat = On
