[program:psdash-master]
command={{ psdash.path }}/bin/psdash -l /var/log/**/*.log
directory="{{ psdash.path }}"
environment=PATH="{{ psdash.path }}/bin:{{ lookup('env', 'PATH') }}",PSDASH_CONFIG="/etc/psdash.py"
