[program:psdash-agent]
command={{ psdash.path }}/bin/psdash -a
;command={{ psdash.path }}/bin/psdash -a -l /var/log/**/*.log -l /var/log/*.log
;directory="{{ psdash.path }}"
;environment=PATH="{{ psdash.path }}/bin:{{ lookup('env', 'PATH') }}"
