# PSDASH Config Dict in Flask Style

#SERVERNAME = "psdash Master (on {{ ansible_hostname }})"

PSDASH_NODES = [
{% for node in groups['all'] %}
    {'name': '{{ node }}', 'host': '{{ node }}', 'port': 5000},
{% endfor %}
]
PSDASH_URL_PREFIX = "/psdash"
