[program:psdash-master]
command={{ psdash.path }}/bin/psdash -p 7000
;command={{ psdash.path }}/bin/psdash -l /var/log/**/*.log -l /var/log/*.log
;directory="{{ psdash.path }}"
environment=PSDASH_CONFIG="/etc/psdash.py"
